*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#0d0d0d;
    color:#ffffff;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #ffffff;
    margin-bottom:20px;
}

h1{
    font-size:42px;
    margin-bottom:10px;
}

p{
    color:#cfcfcf;
    font-size:18px;
}

section{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:#1b1b1b;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

.card h3{
    padding:18px;
    text-align:center;
}
.about{
    max-width:900px;
    margin:70px auto;
    text-align:center;
    line-height:1.8;
    color:#d8d8d8;
    padding:0 20px;
}
.contact{
    text-align:center;
    padding:60px 20px;
    background:#181818;
    margin-top:60px;
}

.contact a{
    color:#ffffff;
    text-decoration:none;
    margin:0 10px;
}

.contact a:hover{
    color:#00c3ff;
}
